<footer>
  <div class="flex justify-between bg-gray-800 p-2">
    <div class="flex flex-grow-0 w-1/5">
      <img src="assets/gin.jpg" alt="Ginius Logo" class="h-8" />
    </div>
    <div class="flex flex-grow w-3/5 justify-center space-x-10">
      <a href="#" class="text-gray-600 p-2">About Us</a>
      <a href="#" class="text-gray-600 p-2">Contact Us</a>
      <a href="#" class="text-gray-600 p-2">Privacy Policy</a>
      <a href="#" class="text-gray-600 p-2">Terms of Service</a>
    </div>
    <div class="flex flex-grow-0 w-1/5 text-right text-white mt-1">
      <p>&copy; 2024 Ginius. All rights reserved.</p>
    </div>
  </div>
</footer>
